//Social Link Tabs//
.all-social-links {
    padding: 10px 35px 9px;
    margin-block-end: auto;
    background-color: #E9ECEF;
    border-radius: 5px 0px 0 0;
    position: relative;
}

.social-input {
    width: 600px !important;
    height: 45px !important;
    border: 1px solid #dee2e6 !important;
}

.list-input {
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 600px;
    width: 100px;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    text-transform: uppercase;
}

.social-bg-color {
    background-color: #E9ECEF;
}