
//Brand components active//

.brand-active{
    border-radius: "5px";
    color: "#FFFFFF";
    font-weight: 600;
    width: "100px";
    font-size: "12px";
    padding-left: "5px";
    padding-right: "5px";
}

.brand-all{
    border-radius: "5px";
    color: "#FFFFFF";
    font-weight: 600;
    width: "100px";
    font-size: "12px";
    padding-left: "5px";
    padding-left: "5px";
}

.brand-inactive{
    border-radius: "5px";
    color: "#FFFFFF";
    font-weight: 600;
    width: "100px";
    font-size: "12px";
    padding-left: "5px";
    padding-left: "5px";
}